# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
# Additional Flutter/Dart related files
.packages
.flutter-plugins
.flutter-plugins-dependencies
.flutter-version

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# iOS related
ios/Pods/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Flutter/.symlinks
ios/Flutter/engine/
ios/Flutter/flutter_assets/
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

# Android related
android/local.properties
android/.gradle/
android/.idea/
android/build/
android/app/app.iml
android/app/src/debug/
android/app/src/profile/
android/app/src/release/

# Web related
web/.dart_tool/
web/build/

# macOS related
macos/.dart_tool/
macos/build/

# Windows related
windows/.dart_tool/
windows/build/

# Linux related
linux/.dart_tool/
linux/build/

# Plugin related
plugin/.dart_tool/
plugin/build/
